/* màu chủ đạo  */
h1{
    color: #edb989;
    color: #2a2b39;
    color: #171b20;
    color: #3a6380;
    color: #773d49;
    color: #bc2a32;
    color: #edc582;
    color: #5a3652;
    color: #eedcd8;
    color: #38230e;
    color: #2a3135;
    color: #94afc1;
    color: #373f4b;
    color: #6a717c;
    color: #ffffff;
}
